.box {
    width: max(50vw, 100vh); /* Breite der Box */
    max-width: 80vw;
    background-color: var(--bt); /* Hintergrundfarbe der Box */
    color: var(--green); /* Textfarbe */
    padding: 0.75rem;
    border-radius: 0.75rem; /* Abgerundete Ecken */
    box-shadow: 0 0.25rem 0.5rem black; /* Schlagschatten */
    margin: 1.25rem auto; /* Zentrierung der Box */
    font-family: 'Courier New', Courier, monospace;
}
input[type="text"] {
    border: none; /* Keine Rahmen um das Input-Feld */
    background: var(--bt); /* Schwarzer Hintergrund */
    color: var(--green); /* Grüner Text */
    font-family: 'Courier New', Courier, monospace; /* Schriftart */
    width: calc(100% - 4rem); /* Vollständige Breite abzüglich der Breite des Texts */
    margin-left: 0.75rem; /* Abstand zum Text */
    margin-top: -1.25rem; /* Vertikaler Abstand zum Text */
    padding: 0.25rem; /* Innenabstand */
    font-size: 1rem;
}

/* Stil für das Eingabefeld, wenn es aktiviert ist */
input[type="text"]:focus {
    background: var(--bt); /* Schwarzer Hintergrund, wenn das Feld aktiviert ist */
    color: var(--green); /* Grüner Text */
}

/* Stil für den überprüfen Button */
button[type="submit"] {
    background-color: var(--green); /* Hintergrundfarbe des Buttons */
    color: #000000; /* Textfarbe des Buttons */
    border: none; /* Kein Rahmen um den Button */
    padding: 0.75rem 1.25rem; /* Innenabstand */
    cursor: pointer; /* Zeige Zeiger, wenn der Mauszeiger über dem Button ist */
    margin-top: 0.75rem; /* Abstand zum vorherigen Element */
    border-radius: 0.25rem; /* Abgerundete Ecken */
    font-size: 1rem;
}

/* Stil für den überprüfen Button beim Überfahren */
button[type="submit"]:hover {
    opacity: 0.8;
}
.solution_right {
    color: var(--green);
}
.solution_wrong {
    color: var(--red);
}